[
    {
        "calc": {
            "load": {
                "active": 0.1,
                "reactive": 0.1
            },
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/calc\/",
                "mediaType": "application\/json"
            },
            "voltage": {
                "dropKv": 0.1,
                "dropProc": 0.1,
                "phase": 0.1,
                "value": 0.1
            }
        },
        "id": 22,
        "mapPoint": {
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/mapPoint\/11\/",
                "mediaType": "application\/json"
            }
        },
        "meta": {
            "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/",
            "mediaType": "application\/json"
        },
        "scheme": {
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/schemes\/44\/",
                "mediaType": "application\/json"
            }
        },
        "spec": {
            "cosFi": 0.1,
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/spec\/",
                "mediaType": "application\/json"
            },
            "mi": 0.1,
            "lambda": {
                "max": 0.1,
                "min": 0.1
            },
            "power": {
                "active": 0.1,
                "installed": 0.1,
                "rated": 0.1,
                "reactive": 0.1
            },
            "reactance": {
                "longitudinal": 0.1,
                "transverse": 0.1
            },
            "voltage": {
                "level": 0.1,
                "phase": 0.1,
                "rated": 0.1,
                "value": 0.1
            }
        }
    },
    {
        "calc": {
            "load": {
                "active": 0.1,
                "reactive": 0.1
            },
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/calc\/",
                "mediaType": "application\/json"
            },
            "voltage": {
                "dropKv": 0.1,
                "dropProc": 0.1,
                "phase": 0.1,
                "value": 0.1
            }
        },
        "id": 22,
        "mapPoint": {
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/mapPoint\/11\/",
                "mediaType": "application\/json"
            }
        },
        "meta": {
            "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/",
            "mediaType": "application\/json"
        },
        "scheme": {
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/schemes\/44\/",
                "mediaType": "application\/json"
            }
        },
        "spec": {
            "cosFi": 0.1,
            "meta": {
                "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/spec\/",
                "mediaType": "application\/json"
            },
            "mi": 0.1,
            "lambda": {
                "max": 0.1,
                "min": 0.1
            },
            "power": {
                "active": 0.1,
                "installed": 0.1,
                "rated": 0.1,
                "reactive": 0.1
            },
            "reactance": {
                "longitudinal": 0.1,
                "transverse": 0.1
            },
            "voltage": {
                "level": 0.1,
                "phase": 0.1,
                "rated": 0.1,
                "value": 0.1
            }
        }
    }
]