{
    "gps": {
        "altitude": 0.1,
        "latitude": 0.1,
        "longitude": 0.1
    },
    "id": 11,
    "meta": {
        "href": "https:\/\/api.cpdn.sd2.cz\/v1\/nodes\/22\/mapPoint\/",
        "mediaType": "application\/json"
    },
    "node": 1,
    "schema": 1,
    "x": 100,
    "y": 100
}