#%RAML 0.8
title: CPDN REST API
version: v1
baseUri: https://api.cpdn.sd2.cz/{version}
mediaType: application/json
protocols: [ HTTPS ]
securedBy: [ oauth_2_0 ]

securitySchemes:
  - oauth_2_0: !include schemes/oauth2.raml

resourceTypes:
  - collection: !include types/collection.raml
  - collection-item-read: !include types/collection-item-read.raml
  - collection-item-read-update: !include types/collection-item-read-update.raml
  - collection-item-read-delete: !include types/collection-item-read-delete.raml
  - collection-item-read-update-delete: !include types/collection-item-read-update-delete.raml

traits:
  - paged: !include traits/paged.raml
  - searchable: !include traits/searchable.raml
  - sortable: !include traits/sortable.raml

/schemes:
  description: Scheme root resource
  type:
    collection:
      exampleCollection: !include samples/read-body/schemes.json
      exampleCreateItem: !include samples/create-body/scheme.json
      searchableDoc: description=string;name=string;version=int
      sortableDoc: 
  /{scheme_id}:
    type:
        collection-item-read-update-delete:
          exampleReadItem: !include samples/read-body/scheme.json
          exampleUpdateItem: !include samples/update-body/scheme.json
    /nodes:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/scheme-nodes.json
    /sections:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/scheme-sections.json
    /mapPoints:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/scheme-mapPoints.json
    /permissions:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/scheme-permissions.json
    /requests:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/scheme-requests.json
 
/nodes:
  description: Node root resource
  type:
    collection:
      exampleCollection: !include samples/read-body/nodes.json
      exampleCreateItem: !include samples/create-body/node.json
      searchableDoc: mapPoint=int;scheme=int
      sortableDoc: 
  /{node_id}:
    type:
        collection-item-read-delete:
          exampleReadItem: !include samples/read-body/node.json
    /calc:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/node-calc.json
          exampleUpdateItem: !include samples/update-body/node-calc.json
    /mapPoint:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/node-mapPoint.json
          exampleUpdateItem: !include samples/update-body/node-mapPoint.json
    /scheme:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/node-scheme.json
          exampleUpdateItem: !include samples/update-body/node-scheme.json
    /spec:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/node-spec.json
          exampleUpdateItem: !include samples/update-body/node-spec.json

/sections:
  description: Section root resource
  type:
    collection:
      exampleCollection: !include samples/read-body/sections.json
      exampleCreateItem: !include samples/create-body/section.json
      searchableDoc: nodeSrc=int;nodeDst=int;nodeTrc=int;scheme=int
      sortableDoc: 
  /{section_id}:
    type:
        collection-item-read-delete:
          exampleReadItem: !include samples/read-body/section.json
    /calc:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/section-calc.json
          exampleUpdateItem: !include samples/update-body/section-calc.json
    /nodes:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/section-nodes.json
          exampleUpdateItem: !include samples/update-body/section-nodes.json
    /paths:
      type:
        collection-item-read:
          exampleReadItem: !include samples/read-body/section-paths.json
    /scheme:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/section-scheme.json
          exampleUpdateItem: !include samples/update-body/section-scheme.json
    /spec:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/read-body/section-spec.json
          exampleUpdateItem: !include samples/update-body/section-spec.json

/mapPoints:
  description: MapPoint root resource
  type:
    collection:
      exampleCollection: !include samples/read-body/mapPoints.json
      exampleCreateItem: !include samples/create-body/mapPoint.json
      searchableDoc: gpsLat=double;gpsLon=double;gpsAlt=double;node=int;scheme=int;x=double;y=double
      sortableDoc: 
  /{mapPoint_id}:
    type:
        collection-item-read-update-delete:
          exampleReadItem: !include samples/read-body/mapPoint.json
          exampleUpdateItem: !include samples/update-body/mapPoint.json

/paths:
  description: Path root resource
  type:
    collection:
      exampleCollection: !include samples/read-body/paths.json
      exampleCreateItem: !include samples/create-body/path.json
      searchableDoc: mapPointSrc=int;mapPointDst=int;section=int
      sortableDoc: 
  /{path_id}:
    type:
        collection-item-read-update-delete:
          exampleReadItem: !include samples/read-body/path.json
          exampleUpdateItem: !include samples/update-body/path.json

/permissions:
  description: Schema permissions root resource
  
/requests:
  description: Schema requests root resource