#%RAML 0.8
title: CPDN REST API
version: v1
baseUri: https://api.cpdn.sd2.cz/{version}
mediaType: application/json
protocols: [ HTTPS ]


resourceTypes:
  - collection:
      description: Read/update collection of <<resourcePathName>>.
      get:
        description: Get a list of <<resourcePathName>>.
        responses:
          200:
            body:
              application/json:
                example: <<exampleCollection>>
          204:
            body:
              application/json:
                example: !include samples/response-status/204.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
      post:
        description: | 
          Add a new <<resourcePathName>>.
        body:
          application/json:
            example: |
              {}
        responses:
          201:
            body:
              application/json:
                example: !include samples/response-status/201.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
  - collection-item-read:
      description: Read only entity representing a <<resourcePathName|!singularize>>
      get:
        description: |
          Get the collection item of <<resourcePathName|!singularize>>
        responses:
          200:
            body:
              application/json:
                example: <<exampleReadItem>>
          204:
            body:
              application/json:
                example: !include samples/response-status/204.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
  - collection-item-read-update:
      description: Read/update entity representing a <<resourcePathName|!singularize>>
      get:
        description: |
          Get the collection item of <<resourcePathName|!singularize>>
        responses:
          200:
            body:
              application/json:
                example: <<exampleReadItem>>
          204:
            body:
              application/json:
                example: !include samples/response-status/204.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
      post:
        description: |
          Update the collection item of <<resourcePathName|!singularize>>
        body:
          application/json:
            example: <<exampleUpdateItem>>
        responses:
          200:
            body:
              application/json:
                example: !include samples/response-status/200.sample
          304:
            body:
              application/json:
                example: !include samples/response-status/304.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
  - collection-item-read-update-delete:
      description: Read/update/delete entity representing a <<resourcePathName|!singularize>>
      get:
        description: |
          Get the collection item of <<resourcePathName|!singularize>>
        responses:
          200:
            body:
              application/json:
                example: <<exampleReadItem>>
          204:
            body:
              application/json:
                example: !include samples/response-status/204.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
      post:
        description: |
          Update the collection item of <<resourcePathName|!singularize>>
        body:
          application/json:
            example: <<exampleUpdateItem>>
        responses:
          200:
            body:
              application/json:
                example: !include samples/response-status/200.sample
          304:
            body:
              application/json:
                example: !include samples/response-status/304.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample
      delete:
        description: |
          Delete the collection item of <<resourcePathName|!singularize>>
        responses:
          200:
            body:
              application/json:
                example: !include samples/response-status/200.sample
          400:
            body:
              application/json:
                example: !include samples/response-status/400.sample
          401:
            body:
              application/json:
                example: !include samples/response-status/401.sample
          403:
            body:
              application/json:
                example: !include samples/response-status/403.sample
          404:
            body:
              application/json:
                example: !include samples/response-status/404.sample
          405:
            body:
              application/json:
                example: !include samples/response-status/405.sample
          409:
            body:
              application/json:
                example: !include samples/response-status/409.sample
          410:
            body:
              application/json:
                example: !include samples/response-status/410.sample
          500:
            body:
              application/json:
                example: !include samples/response-status/500.sample
          503:
            body:
              application/json:
                example: !include samples/response-status/503.sample

/schemes:
  description: Scheme root resource
  get:
    description: List of Schemes
  /{scheme_id}:
    get:
      description: Get one entity of Scheme identified by SCHEME_ID
    /nodes:
    /sections:
    /requests:
    /mapPoints:
    /permissions:

/nodes:
  description: Node root resource
  type:
    collection:
      exampleCollection: !include samples/response-body/nodes.sample
  /{node_id}:
    type:
        collection-item-read-update-delete:
          exampleReadItem: !include samples/response-body/node.sample
          exampleUpdateItem: !include samples/update-body/node.sample
    /calc:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/response-body/node-calc.sample
          exampleUpdateItem: !include samples/update-body/node-calc.sample
    /mapPoint:
      type:
        collection-item-read:
          exampleReadItem: !include samples/response-body/node-mapPoint.sample
    /scheme:
      type:
        collection-item-read:
          exampleReadItem: !include samples/response-body/node-scheme.sample
    /spec:
      type:
        collection-item-read-update:
          exampleReadItem: !include samples/response-body/node-spec.sample
          exampleUpdateItem: !include samples/update-body/node-spec.sample

/sections:
  description: Section root resource
  /{section_id}:
    /calc:
    /nodes:
    /paths:
    /scheme:
    /spec:

/mapPoints:
  description: MapPoint root resource
  /{mapPoint_id}:
    /node:
    /paths:
      /src:
      /dst:
    /scheme:

/paths:
  description: Path root resource
  /{path_id}:
    /section:

/permissions:
  description: Schema permissions root resource